#add-car, .offers {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    height: auto;
    width: 900px;
    color: #47439d;
}

.offers {
    display: inline-block;
    font-size: 16px;
    margin-top: 90px;
    color: #47439d;
    font-weight: 700;
    text-align: center;
}
#of-h4 {
    color: #47439d;
    font-size: 28px;
    text-align: center;
}

.of {
    text-align: center;
}

.allCars {
    width: 80%;
    background: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}




