
@import "calculator.css";
@import "header.css";
@import "insurances.css";
@import "companies.css";
@import "catalog.css";
@import "offers.css";
@import "home.css";
@import "footer.css";
@import "loginRegister.css";
@import "navigation.css";


body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 1300px;
    margin: 0 auto;
}

#user, #guest {
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
